section.game, section.users {
    width: 70%;
    padding-left: 5%;
    text-align: center;
    display: inline-block;
    vertical-align: text-top;
    margin-bottom: 50px;
    font-size: 20px;
}
section.game  > p {
    font-size: 28px;
    letter-spacing: 1px;
}
section.users > h1, section.game > h1 {
    font-size: 28px;
    color: red;
    margin: 0 0 20px;
}
section.users {
    width: 25%;
    padding-left: 0;
}
section.users > p, section.users #game-players p {
    margin: 0 10% 5px;
    letter-spacing: 2px;
    font-size: 24px;
}
section.users #game-players p.eliminated {
    color: grey;
    text-decoration: line-through;
}
section.users #game-players p.myself {
    color: green;
}
section.users > p.role {
    margin: 50px auto 20px;
    color: red;
}
section.users  img.role-photo {
    max-width: 75%;
    max-height: 200px;
}
section.chooser {
    width: 50%;
    margin: 30px auto 0;
    border: 2px solid var(--font-color);
}
section.chooser > h2 {
    margin: 20px;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 2px;
}
div.option {
    width: 50%;
    border: 1px solid var(--font-color);
    padding: 5px 0;
    cursor: pointer;
}


@media screen and (max-width: 996px) {

    section.chooser {
        width: 75%;
    }
    @media screen and (max-width: 768px) {
        section.users, section.game {
            width: 100%;
            display: block;
        }
        section.game {
            padding-left: 0;
        }
        section.chooser {
            width: 80%;
        }
        section.users > p {
            margin: 0 auto;
        }
        section.users  img.role-photo {
            max-width: 100%;
            max-height: 150px;
        }
        section.chooser > h2 {
            font-size: 20px;
            margin: 10px auto;
        }
        form#event-click {
            margin: 20px auto;
        }
        @media screen and (max-width: 600px) {

            div.option {
                width: 220px;
                overflow: hidden;
            }
            @media screen and (max-width: 400px) {
                form * {
                    font-size: 16px;
                }

                section.users > p {
                    font-size: 18px;
                }
                section.users  img.role-photo {
                    max-height: 150px;
                    max-width: 90%;
                }
            }
        }
    }
}