.link-wrapper {
    text-align: center;
    display: block;
    width: 300px;
    margin: 0 auto;
    padding: 5px 0;
}
.link-wrapper:first-of-type {
    margin-top: 50px;
}
.link-wrapper > a {
    width: 300px;
    display: block;
    padding: 5px 0;
    border: 2px solid var(--font-color);
}
.link-wrapper > a.hit {
    background-color: var(--font-color);
    color: var(--bg-color);
}
input[type=number] {
    padding: 2px 0;
}
.newgame-form, .existinggame-form {
    display: none;
}
.newgame-form > form, .existinggame-form > form {
     margin-top: 10px;
}

@media screen and (max-width: 768px) {
    .link-wrapper {
        width: 220px;
    }
    .link-wrapper:first-of-type {
        margin-top: 20px;
    }
    .link-wrapper > a {
        width: 220px;
    }
}
