@font-face {
    font-family: myFirstFont;
    src: url(../fonts/CorleoneDue.ttf);
}
:root {
    --font: 'IBM Plex Mono', monospace;
    --mafia-font: myFirstFont, serif;
    --bg-color: #000;
    --font-color: #eee;
}
body {
    font-family: var(--mafia-font);
    color: var(--font-color);
    margin: 0 auto 50px;
    background-color: var(--bg-color);
}
#background {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-51%, -50%);
    min-width: 103%;
    height: 100.5vh;
    z-index: -1;
    opacity: 0.5;
}
h1 {
    margin: 80px auto 50px;
    text-align: center;
    letter-spacing: 5px;
    font-size: 50px;
}
p {
    font-size: 24px;
    text-align: center;
    margin: 10px 10%;
    width: 80%;
}
main a:first-of-type {
    margin-top: 30px;
}
form * {
    font-size: 20px;
    display: block;
    text-align: center;
    margin: 10px auto;
    outline: none;
    color: var(--font-color);
    font-family: var(--mafia-font);
    letter-spacing: 2px;
}
form {
    margin: 30px auto 30px;
}
form label {
    width: 300px;
    margin: 10px auto;
}
form input {
    background-color: transparent;
    border: 2px solid var(--font-color);
    padding: 3px 0;
    width: 300px;
}
form input[type=submit] {
    margin: 30px auto 30px;
    padding: 5px 0;
    cursor: pointer;
    width: 200px;
}
a {
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    color: var(--font-color);
    display: table;
    letter-spacing: 2px;
    margin: 10px auto;
}
p.warning {
    color: #f00;
    margin: 10px auto 10px;
}
#sound {
    display: block;
    position: fixed;
    right: 5%;
    top: 5%;
    font-size: 50px;
    cursor: pointer;
}
#musicframe, #audio {
    display: none;
}
@media screen and (max-width: 768px) {
    h1 {
        font-size: 36px;
        margin: 50px auto 30px;
    }
    p  {
        font-size: 20px;
    }
    form input, form label {
        width: 220px;
        margin: 20px auto;
    }
    form input {
        border: 1px solid var(--font-color);
        margin: 5px auto;
    }
    #sound {
        font-size: 30px;
    }
    @media screen and (max-width: 600px) {
         main > a:first-of-type {
             margin-top: 10px;
         }
    }
}